:root {
    --bg-color: #EDECE1;
    --alt-bg-color: #FFFFFF;
    --primary-color: #888B8D;
    --second-color: #C8102E;
    --shadow-1: #81807A;
    --shadow-2: #E0DFD7;
    --border-color: #63666A;
    --border-radius: 8px;
}

@font-face {
    font-family: "CircularStd";
    src: url("../fonts/CircularStd-Bold.otf") format("opentype"),
        url("../fonts/CircularStd-Black.otf") format("opentype"),
        url("../fonts/CircularStd-Book.otf") format("opentype");
}

/* tag style */
html {
    background: gray;
    font-family: "CircularStd";
}

body {
    margin: 0;
}

.app {
    margin: 0 auto;
    background: var(--bg-color);
    max-width: 500px;
    display: grid;
    grid-template-rows: max-content 1fr;
    gap: 30px;
    padding: 20px 40px;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
}

@media only screen and (max-width: 500px) {
    .app {
        padding: 8px 16px;
        gap: 16px
    }
}